.squares {
  text-align: center;
  border: 2px solid;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  background-color: rgb(251, 252, 253);
  
}

.Board {
  padding: 10px;
  margin: 10px;

}

.Game {
  background-color: rgb(8, 8, 8);
  margin: 10%;
}

.status {
  color: aliceblue;
  font-weight: 600;
}

table, th,td {
  border: 5px solid whitesmoke;
  text-align: center;
}
tr {
  text-align: center;
}
.tabletext {
  color: aliceblue;
  font: small;
}

